<div>
  <app-page-header [heading]="'Bank Edit'" [icon]="'fa fa-university'"></app-page-header>
  <div>
    <div class="col-md-6 offset-md-6 pull-right" style="text-align: right">
        <button type="button" class="btn btn-secondary"><i class="fa fa-question" aria-hidden="true"></i> Help</button>
        <button type="button" class="btn btn-secondary"><i class="fa fa-refresh"></i> Reload</button>
        <button type="button" class="btn btn-success" (click)="btnClickNav('banks')"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
    <div class="clearfix"></div>
  </div>
  <hr/>
  <div>
      <div class="row">
        <div class="col-md-12">
            <form role="form">
              <div class="card bg-light mb-3">
                  <div class="card-header" style="background-color:#868e96; color: #fff;">Bank Edit</div>
                  <div class="card-body">
                      <div class="row">
                          <div class="form-group col-md-4">
                              <label>Company</label>
                              <select class="form-control">
                                  <option>Select Company</option>
                                  <option>Shyam Futuretech</option>  
                              </select>
                          </div>
                          <div class="form-group col-md-2">
                              <label>Bank Name</label>
                              <input class="form-control" [(ngModel)]="banks.bank_name" name="bank_name" placeholder="Bank Name">
                          </div>
                          <div class="form-group col-md-2">
                            <label>Bank Branch</label>
                            <input class="form-control" [(ngModel)]="banks.bank_branch" name="bank_branch" placeholder="Bank Branch">
                          </div>
                          <div class="form-group col-md-2">
                            <label>Bank IFSC</label>
                            <input class="form-control" [(ngModel)]="banks.bank_ifsc" name="bank_ifsc" placeholder="Bank IFSC">
                          </div>
                          <div class="form-group col-md-2">
                            <label>Opening Balance</label>
                            <input class="form-control" [(ngModel)]="banks.opening_balance" name="opening_balance " placeholder="Opening Balance">
                          </div>
                          <div class="form-group col-md-12" style="text-align: right">
                              <button type="submit" class="btn btn-success">Submit</button>
                              <button type="reset" class="btn btn-secondary">Reset</button>
                          </div>
                      </div>
                  </div>
              </div>
            </form>
        </div>
      </div>
  </div>
</div>