<div>
    <app-page-header [heading]="'Purchase Group Add'" [icon]="'fa fa-university'"></app-page-header>
    <div>
      <div class="col-md-6 offset-md-6 pull-right" style="text-align: right">
          <button type="button" class="btn btn-secondary"><i class="fa fa-question" aria-hidden="true"></i> Help</button>
          <button type="button" class="btn btn-secondary"><i class="fa fa-refresh"></i> Reload</button>
          <button type="button" class="btn btn-success" (click)="btnClickNav('purchase-group')"><i class="fa fa-arrow-left"></i> Back</button>
      </div>
      <div class="clearfix"></div>
    </div>
    <hr/>
    <div>
        <div class="row">
          <div class="col-md-12">
              <form role="form">
                <div class="card bg-light mb-3">
                    <div class="card-header" style="background-color:#868e96; color: #fff;">Pruchase Group Add</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Pruchase Group Name</label>
                                <input class="form-control" placeholder="Pruchase Group Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Group Description</label>
                                <textarea class="form-control" rows="1" placeholder="Group Description"></textarea>
                            </div>
                            <div class="form-group col-md-12" style="text-align: right">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
              </form>
          </div>
        </div>
    </div>
</div>